{% extends 'base.html' %}

{% block nav_bar %}
⯈ <a href="/users">Users</a>
⯈ <a href="/users/{{ user.id }}">{{user.name}}</a>
{% endblock %}

{% block content %}

<div style="text-align: left; margin: auto; width: 80%;">
<p style="font-weight: bold;">User Info:</p>
<p>ID: {{user.id}}</br>
Name: {{user.name}}</br>
Birthday: {{user.birthday}}</br>
Gender: {{user.gender}}</br>
</p>
</br>
Snapshots:</br>
<ul style="text-align: left;">
{% for snap in snapshots %}
<li>
	<a href="/users/{{ user.id }}/snapshots/{{ snap }}">{{ snap }}</a>
{% endfor %}
</ul>
{% endblock %}
</div>