<!-- Filename : index.html -->
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <title>BrainStorm - {% block title %}{% endblock %}</title> 
	<link rel="stylesheet" href="/static/main.css">
	{% block includes %}{% endblock %}
  </head>
  <body>
	<div id="header">
		<iframe src="/static/logo.html" frameBorder="0" ></iframe>
		<a id="iframeOverlay" href="/" title="Home"></a>
	</div>
	<div id="content-container">
		<div id="nav-bar">
			<a  href="/">Home</a>
			{% block nav_bar %}{% endblock %}
		</div>
		{% block content %}{% endblock %}
	</div>
	<div id='credit'>by Shai Shapira</div>
  </body>
</html> 