{% extends 'base.html' %}

{% block nav_bar %}
{% endblock %}

{% block content %}
<!-- Home specific content -->
<p>
Welcome to BrainStorm Web Interface!<br>
Choose your way to navigate
</p>
<table id="nav-table">
    <tr>
        <td>View all users</td>
        <td>Jump to user</td>
    </tr>
    <tr>
        <td>
            <button type="button" onclick="window.location.href='/users'">Browse</button>
        </td>
        <td>
            <form id="form">
                <input id="uid" type="search" placeholder="User ID">
            </form>
            <script>
                let form=document.getElementById('form');
                form.onsubmit=function(e){
                    e.preventDefault();
                    var uidNum=parseInt(document.getElementById('uid').value)
                    if(isNaN(uidNum)) {
                        alert("User ID must be a number.");
                        return
                    }
                    window.location.href='/users/'+uidNum;
                }
            </script>
        </td>
    </tr>
</table>
<!-- Home specific content -->
{% endblock %}