body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
@font-face {
  font-family: 'Titillium Web script=all rev=1';
  font-style: normal;
  font-weight: 900;
  src:   url(https://fonts.gstatic.com/l/font?kit=NaPDcZTIAOhVxoMyOr9n_E7ffEDBKIlh7L25kEAd4d2ol1a0j2JSXUqHFcUygMZP4gUuKqByZB8nNlIHhvqjf8kc-MoKZujazGHey0kW1O-rw9KLr8vVFykAoZaTq6VqbxjzOqKVEQiTzSbELK9ok2tXSJWnnk_L492rny50cZ-migV4q1QekbWLuXF4qg7klfCiIljkknmKlSi1O_Ey9yZdmlg&skey=1834815bec1b8264&v=v8) format('woff2');
}

svg { 
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
}
svg text {
  font-family: "Titillium Web script=all rev=1",  "Adobe Blank";
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
  text-align: center;
  position: relative;
}
svg #maskRect {
  fill: white;
}
svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}
#outter {
  fill: #222227;
}